/*------------------------------------*\
    #SHAME
\*------------------------------------*/

body {
  background: $grey-5;
}

.container {
  background: $white;
  padding: 1em;
  border-radius: 0.15em;
}


.right-column-task {
  top: 35px;
  height: 100%;
  width: 30%;
  right: 0;
  background-color: $grey-1;

  input, textarea {
    width: 100%!important;
    background: $white;
    border: 0!important;
  }

}

.panel-title {
  text-align: center;
  color: $white;
  @include adjust-font-size-to($h1-fz);
  border-bottom: 1px solid $grey-4;
  padding: 0!important;
  margin: 0!important;
  line-height: 3em!important;
  color: $grey-3;
}

.well {
  text-align: center;
  color: $white;
  @include adjust-font-size-to($h1-fz);
  border-bottom: 1px solid $grey-4;
  line-height: 2em!important;
  padding: 0!important;
  margin: 0!important;
  &:hover {
    background: $green;
  }
}

.bootstrap-frm {
  background: transparent;
  border: 0;
}

.new-task-btn {
  z-index: 9999;
}

.new-task-btn {
  background: $green;
  width: auto;
}

button[type=submit] {
  background-color: $green;
  width: 100%;
}

/*------------------------------------*\
    #ORIGINAL SHAME
\*------------------------------------*/

.avatar {
  margin: 0 10px;
  width: 24px;

  &--big {
    width: 120px;
  }
}

.tasks {
  padding: 0.5em 0;

  ul {
    margin-left: 10px;
    padding: 0;

    &:empty {
      display: none;
    }
  }

  li {
    margin: 0px;
  }
}

.task-panel {
  > span {
    display: block;
  }

  .title {
    margin: 0 0.5em 0 0;
  }

  .glyphicon {
    cursor: pointer;
    margin: 0 0.2em;
  }

  .glyphicon-plus {
    color: green;
  }

  .glyphicon-remove {
    color: red;
  }
}

.task-controls {
    float: right;
    display: none;
    margin-left: 5px;

    .panel-body:hover > & {
        display: inline-block;
    }
}

.archived.comment-post > * {
  text-decoration: line-through;
}

/*font Awesome http://fontawesome.io*/
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
