doctype html
html(class='no-js')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    title jKilla

    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css' + cachebust)

    if reload
      script(src='/socket.io/socket.io.js')
      script(src='/javascripts/reload-client.js')

  body
    block content

    script(src='/javascripts/vendor/react/react.js')
    script(src='/javascripts/vendor/firebase/firebase.js')
    script(src='/javascripts/vendor/reactfire/reactfire.min.js')
    script(src='/javascripts/vendor/jquery/jquery.js')
    //- TODO: remove bootstrap
    script(src='/javascripts/vendor/bootstrap/bootstrap.js')
    script(src='/javascripts/main.js')
