/*------------------------------------*\
    #TASK TILE
\*------------------------------------*/

li.task{
  padding: rhythm(4);
  border-bottom: 1px solid $light;
  @extend .delta;
}

.task-controls {
  display: none;
  margin-left: 5px;

  .task > span:hover & {
    display: inline-block;
    float: right;
  }
}
