doctype html
html(class='no-js')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    title SilverBirch

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jquery.sidr.light.css')

  body
    script(src='/javascripts/main.js')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/jquery.sidr.min.js')
    script.
      $(document).ready(function() {
        $('#left-menu').sidr({
          name: 'sidr-left',
          side: 'left' // By default
        });
        $('#right-menu').sidr({
          name: 'sidr-right',
          side: 'right'
        });
      });
